.select {
	color: #fff;
	background: #323232;
	padding: 5px;
	font-size: 16px;
	outline: none;
	border: 1px solid #DA00FE;
	border-radius: 10px;
	cursor: pointer;
}

.select > option {
	background: #323232;
	color: #fff;

}